<%- include ("../partials/header") %>


        <h1> Update An Item </h1>
        
        <div style="text-align: center;">
           <span style="margin:auto; display:table; border:1px;">
                <img src="https://vignette.wikia.nocookie.net/starwars/images/7/7f/Solo.JPG/revision/latest/scale-to-width-down/250?cb=20060324175108" style="padding-left:10px;float:left;"> 
                <i style="float:left; padding-left:10px;"> 
                    <form id="UpdateItemValues">
                        <input type='hidden' name="id" value="<%= item._id %>"/>
                        <h2>
                            
                            <h3> Color: <input type="text" name="color" placeholder="<%= item._color %>"> </h3> <br>
                            <h3> Price: <input type="text" name="price" placeholder="<% item.price %>"></h3> <br>
                            <h3> Image URL:<input rows="5" cols="10" type="text" name="link" placeholder="<% item.link %>"></h3> <br>
                            
                            <br><br>
                            
                        
                            <%= typeof(message) != "undefined"?message:"" %>
                            
                        </h2>
                    </form>  
                    <button id="UpdateCurrentItem" class="myButton">Update Item</button>
                    <h1 id="confirm_update"></h1>
                    <button><a href="/lightsabers">Back</a></button>

                </i>
                <img src="https://vignette.wikia.nocookie.net/starwars/images/7/7a/Chewbacca_004.jpg/revision/latest/scale-to-width-down/210?cb=20101219044516" style="margin-left:10px;float:left;">
            </span>            
        </div>
        
 <%- include ("../partials/footer") %>